.main-button{
    background-color:blue;
    padding:10px; 
    color: white;
    border-radius: 5px;
  }

.main-button:hover{
    background-color: darkblue;
    padding:10px; 
    color: white;
    border-radius: 5px;
  }

.nav-button{
    background-color:gray;
    padding:10px; 
    color: white;
    border-radius: 5px;
  }
