<h1>
   What would you like to read?
</h1>

<form action="/insert_story" method="post">
  <div>
        <label for="title_box">
          Title
        </label>

        <input type="text" id="title_box" name="query_title">
      </div>

      <div>
        <label for="story_box">
          Story
        </label>

        <textarea id="story_box" name="query_story" rows="3"></textarea>
      </div>

      <div>
        <label for="owner_id_box">
          Owner
        </label>

        <input type="text" id="owner_id_box" name="query_owner_id">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <textarea id="description_box" name="query_description" rows="3"></textarea>
      </div>

      <div>
        <label for="boomarks_count_box">
          Boomarks count
        </label>

        <input type="text" id="boomarks_count_box" name="query_boomarks_count">
  </div>

  <button>
    Create story
  </button>
</form>
