<!DOCTYPE html>
<html>
  <head>
    <title>Base Rails</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

    <link rel="stylesheet" href="css/mystyles.css">
    
  </head>

  <body>
      <nav>
        <% if session[:user_id] != nil %>
          <a href="/"> Home </a>
          <a href="/stories" style="border: 2px blue solid; padding: 5px"> Library </a>
          <a href="/my_stories"> My Stories </a>
          <%# this doesn't work, not user specific? %>
          <a href="/bookmarks"> My Bookmarks </a>
          <a href="/user_sign_out"> Sign Out </a>
        <% else %>
          <a href="/"> Home </a>
          <a href="/user_sign_up"> Sign Up </a>
          <a href="/user_sign_in"> Sign In </a>
        <% end %>
      </nav>
    

    <%= yield %>
  </body>
</html>
