<!DOCTYPE html>
<html>
  <head>
    <title>Base Rails</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

    <link rel="stylesheet" href="css/mystyles.css">
    <link href="https://fonts.googleapis.com/css2?family=Gentium+Book+Basic&display=swap" rel="stylesheet">
    
  </head>

  <body>
      <nav>
        <div class= "row">
          <% if session[:user_id] != nil %>
            <div> <a href="/" class="nav-button">Home</a> </div>
            <div> <a href="/stories" class="nav-button">Library</a> </div>
            <div> <a href="/my_stories" class="nav-button"> My Stories</a> </div>
            <div> <a href="/bookmarks" class="nav-button"> My Bookmarks</a> </div>
            <div> <a href="/user_sign_out" class="nav-button"> Sign Out</a> </div>          
          <% else %>
          <div> <a href="/" class="nav-button"> Home </a> </div>
          <div> <a href="/user_sign_up" class="nav-button"> Sign Up</a> </div>
          <div> <a href="/user_sign_in" class="nav-button"> Sign In</a> </div>
          <% end %>
        </div>
      </nav>
    
<div>
    <%= yield %>
  </body>
</html>
